<div class="card">
  <div class="card-content">
    <h5>Investigation Note Information for <%= @investigationNote.investigation.title %></h5><br />

    <b>Content:&nbsp;&nbsp;</b>
      
      <%= @investigationNote.content %><br /><br />
  </div>
</div>
