<% unless @case_crimes.empty? %>
    <div class="card">
    <div class="card-content">
      <span class="card-title">Crimes</span>
      <table class="lined">
        <thead>
          <th>Name</th>
          <th>Felony</th>
        </thead>
          <% for c in @case_crimes %>
            <tr>
           <td>  
            <%# if can? :destroy, CrimeInvestigation %>
              <%= link_to(crime_investigation_path(c.id), class: 'remove', method: :delete) do %>
                x&nbsp;&nbsp;
                <% end %>
                &nbsp;<%=  c.name  %>
            </td>
              <td><%= c.felony %></td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>

<% else%>
  <div class="card">
    <div class="card-content">
      <span class="card-title">No Crimes</span>
    </div>
  </div>
<% end%>


<% if can? :new, Crime %>
    <div class="card grey lighten-3">
      <div class="card-action">
        <%= link_to "Add a new crime", new_crime_investigation_path(investigation_id: @investigation.id) %>
      </div>
    </div>
<% end%>