
<div id="tabbed">
  <tabs>

    <tab name="General" v-bind:selected="true">
      <%= render :partial =>"chief_general"  %>
    </tab>

    <tab name="Units">
      <%= render :partial =>  "cheif_units" %>
    </tab>

  </tabs>
</div>

<p>&nbsp;</p>

