<div class="card">
  <div class="card-content">
    <h5>Crime Information for <%= @crime.name %></h5><br />

    <b>Felony:&nbsp;&nbsp;</b>
      
      <%= @crime.felony %><br /><br />


    <b>Active:&nbsp;&nbsp;</b>
      
      <%= @crime.active %><br /><br />
  </div>
</div>