<div id="tabbed">
  <tabs>

    <tab name="Active Units" v-bind:selected="true">
<%= render :partial => "unit_list", locals: {units: @active_units, state: 'active'} %>  </tab>

    <tab name="Inactive Units">
<%= render :partial => "unit_list",locals: {units: @inactive_units, state: 'inactive'} %>  </tab>

  </tabs>
</div>

<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'unit'} %>


