

<div id="tabbed">
  <tabs>

    <tab name="Criminals" v-bind:selected="true">
<%= render :partial =>"criminals_list", locals: {criminals: @all_criminals, state: ''} %>   </tab>

    <tab name="Convicted Criminals">
 <%= render :partial =>  "criminals_list", locals: {criminals: @convicted_criminals, state: 'convicted'}%>   
</tab>
    <tab name="Enhanced Criminals">
 <%= render :partial =>  "criminals_list", locals: {criminals: @enhanced_criminals, state: 'convicted'}%>   
</tab>


  </tabs>
</div>

<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'criminal'} %>


